<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h1>Editing Book</h1>
      <% if @book.errors.any? %>
      <h2><%= @book.errors.count %>error</h2>
      <div>
       <ul>
        <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= form_for(@book) do |f| %>

    <p>Title</p>
    <p><%= f.text_field :title,class:"form-control" %></p>

    <p>Opinion</p>
    <p><%= f.text_area :body,class:"form-control" %></p>


    <%= f.submit "Update Book",class:"btn btn-primary btn-block" %>

    <% end %>

    <%= link_to "Show",book_path(@book) %>
    |
    <%= link_to "Back",books_path %>
  </div>
  <div class="col-lg-3"></div>
</div>
</div>